html {
	height: auto;
}

body {
	height: 100%;
	width: 100%;
	padding: 0px;
	position: relative;
	top: -20px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed
}

.container {
	padding: 0px;
	width: 1280px;
	height: auto;
}

.websiteLink {
	color: black;
}

.photoHead {
	position: relative;
	top: -20px;
	box-sizing: border-box;
	margin: auto;
	margin-top: 0px;
	height: 853px;
	overflow: visible;
	padding: 0px;
}

.photoHeadTop, .photoHeadBottom {
	height: 50%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.infoCard {
	display: inline;
	background: black;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 20px;
	padding-top: 5px;
	z-index: 10;
	background-color:rgba(0, 0, 0, 0.5);
}

#codeLanguageList {
	font-size: 26px;
	text-align: center;
}

.projectDetails {
	font-family: 'Rokkitt', serif;
	font-size: 21px;
}

.collabLink {
	color: white;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }

.infoCardHead {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	letter-spacing: 4px;
	color: white;
	text-decoration: underline;
	text-align: center;
} 

.infoCardList {
	font-family: 'Rokkitt', serif;
	list-style-type: none;
	font-size: 32px;
	color: white;
	margin: 0px;
	padding: 0px;
}

#educationList {
	font-size: 24px;
	text-align: center;
}

.leadPhoto {
	display: inline;
	height: 100%;
	width: 100%;
	margin: 0px;
	z-index: 0;
}

.col-sm-4 {
	height: 100%;
	padding: 0px;
	overflow: auto;
}

#rowOneFirstPhoto {
	position: relative;
	left: 0px;
}

#rowTwoSecondPhoto {
	position: relative;
	left: 0px;
}

.pageTitleDiv {
	box-sizing: border-box;
	margin: auto;
	margin-top: 3px;
	margin-bottom: 0px;
	height: auto;
	overflow: visible;
	text-align: center;
	background-color:rgba(0, 0, 0, 0.0);
}

.pageTitleText {
	font-family: 'Cormorant Infant', sans-serif, bold;
	letter-spacing: 20px;
	font-size: 75px;
	margin-top: -16px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	font-width: expanded;
	
}

#name {
	font-family: 'Open Sans Condensed', sans-serif;
	position: relative;
	top: -10px;
	left: 0px;
}

.mobileInfoCard {
	display: none;
	}

#development {
	position: relative;
	top: -40px;
	left: 65px;
}

.portfolio {
	box-sizing: border-box;
	overflow: visible;
	width: 100%;
}


.websiteThumb {
	box-sizing: border-box;
	display: inline;
	height: 300px;
	width: 300px;
	/*-webkit-box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);*/
}


.portfolioList {
	list-style-type: none;
	margin: auto;
	text-align: center;
	padding: 0px;
}


.portfolioListItem {
	display: inline;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 600px;
}

.portInfoCard {
	display: inline;
	height: 300px;
	width: 900px;
	position: absolute;
	background-color:rgba(0, 0, 0, 0.5);
	z-index: 1;
	-webkit-box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
}

.infoCardDivider {
	margin-left: 2px;
	display: inline;
	height: 300px;
	width: 33%;
	float: left;
	padding: 0px;
	position: relative;
	top: 0px;
	left: 0px;
	background-color:rgba(0, 0, 0, 0.0);
	color: white;
}


.portfolioLink {
	color: white;
}

.dividerHead {
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 3px;
	text-decoration: underline;
	text-align: center;
}

.repoLink {
	color: white;
	font-size: 30px;
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeftBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeftBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }

 .slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 

.portInfoCardList {
	font-family: 'Cormorant Infant', serif;
	list-style-type: none;
	font-size: 30px;
	color: white;
	margin: auto;
}

.portListlabel {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
	border-bottom: 3px solid;
}

.invisible {
	visibility: hidden;
}

#portListDiv1 {
	height: auto;
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed
}


#portInfoCard1 {
	left: 0px;
}

#portListDiv2 {
	position: relative;
	top: 0px;
	left: 0px;
	-webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
} 

#portInfoCard2 {
	left: 200px;
}

#portInfoCard3 {
	left: 0px;
}

#portListDiv3 {
	position: relative;
	top: -10px;
	left: 65px;
	height: auto;
	width: 100%;
	/*background-image: url("./images/brushstroke2.png");*/
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed
}

#portInfoCard4 {
	left: 150px;
}

#portListDiv4 {
	-webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
}

#webThumb1 {
	position: relative;
	left: 300px;
	top: 10px;
}

#webThumb2 {
	position: relative;
	top: -40px;
}

#webThumb3 {
	position: relative;
	top: -55px;
	left: 300px;
}

#webThumb4 {}

.footer {
	box-sizing: border-box;
	position: relative;
	top: -10px;
	height: 150px;
	overflow: hidden;
	text-align: center;
	/*background-image: url("./images/brushstroke4.png");*/
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed
	
}


.socialImage {
	height: 85%;
	width: auto;
	margin: 5px;
}

#portList1 {
	position: relative;
	left: 25px;
}

#contributions1 {
	position: relative;
	top: 0px;
	left: 0px;
}

#portList2 {
	position: relative;
	left: -350px;
}

#portList3 {
	position: relative;
	left: -50px;
}

#portList4 {
	position: relative;
	left: -300px;	
}


@media screen and (max-width:768px){

	.container-fluid{
		width: 100%;
		height: 2000px;
		padding: 0px;
	}


	.leadPhoto, .infoCard, #col1, #col2, #col3, .photoHead, .portfolio {
		display: block;
		height: auto;
	}

	#headPhoto4, #headPhoto5, #headPhoto6, .websiteThumb {
		display: none;
	}

	.col-sm-4 {
		width: 100%;
		height: auto;
	}

	#headPhoto1, #headPhoto2, #headPhoto3 {
		width: 100%;
		height: auto;
		display: block;
	}

	#infoCard2, #infoCard4, #infoCard6 {
		display: none;
	}

	.portfolioList {
		width: 100%;
		margin: auto;
		text-align: center;
	}

	#portList1, #portList2 {
		position: relative;
		left: 0px;
		width: 100%;
	}

	.portListlabel {
		border-bottom: none;
		margin-top: 45px;
	}

	.mobileInfoCard {
		display: block;
		visibility: visible;
		width: 95%;
		text-align: center;
		margin-bottom: 20px;
		margin: auto;
	}

	.dividerHead {
		width: 100%;
	}

	.collabLink {
		color: black;
	}

	.infoCard {
		position: relative;
		top: 100px;
	}

	.infoCardList, .infoCardHead {
		color: black;
		text-align: center;
	}

	.portInfoCard, #name {
		width: 100%;
		height: auto;
	}

	.portInfoCard {
		position: relative;
		width: 100%;
	}
	
	.pageTitleDiv{
		width: 100%;
		position: absolute;
		top: 22px;
		left: 12px;
	}

	.hideTitle {
		top: -10px;
	}

	.pageTitleText {
		font-size: 50px;
	}

	.footer {
		display: block;
		width: 100%;
	}

}





