html {}

body {
	/*background-image: url("./images/galaxy_bg.png");*/
	height: 100%;
	width: 100%;
	padding: 0px;
	position: relative;
	top: -20px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed
}

.container {
	padding: 0px;
	width: 1280px;
}

.leadPhoto, .infoCard, .websiteThumb, .portInfoCard {
	/*border-radius: 5px;*/
}

.websiteLink {
	color: black;
}

.photoHead {
	position: relative;
	top: -20px;
	box-sizing: border-box;
	margin: auto;
	margin-top: 0px;
	height: 853px;
	overflow: visible;
	padding: 0px;
}

.photoHeadTop, .photoHeadBottom {
	height: 50%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
	left: 0px;

}

.infoCard {
	display: inline;
	background: black;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 50px;
	z-index: 10;
	background-color:rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
}

.projectDetails {
	font-size: 20px;
}

.collabLink {
	color: white;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  } 

.infoCardList {
	font-family: 'Lora', serif;
	list-style-type: none;
	font-size: 30px;
	color: white;
}

.leadPhoto {
	display: inline;
	height: 100%;
	width: 100%;
	margin: 0px;
	z-index: 0;
}

.col-sm-4 {
	height: 100%;
	padding: 0px;
}

#rowOneFirstPhoto {
	position: relative;
	left: 0px;
}

#rowTwoSecondPhoto {
	position: relative;
	left: 0px;
}

.pageTitleDiv {
	box-sizing: border-box;
	margin: auto;
	margin-top: 3px;
	margin-bottom: 0px;
	height: auto;
	overflow: visible;
	text-align: center;
	background-color:rgba(0, 0, 0, 0.0);
	border-bottom: 3px solid;
}

.pageTitleText {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Cormorant Infant', sans-serif, bold;
	letter-spacing: 15px;
	font-size: 150px;
	margin-top: -16px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	font-width: expanded;
	text-shadow: 7px 5px 13px rgba(150, 150, 150, 0.79);
	
}

#name {
	position: relative;
	/*top: 0px;
	left: -80px;*/
}

#development {
	position: relative;
	top: -40px;
	left: 65px;
}

.portfolio {
	box-sizing: border-box;
	overflow: visible;
	width: 100%;
}


.websiteThumb {
	box-sizing: border-box;
	display: inline;
	height: 300px;
	width: 300px;
	-webkit-box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
}


.portfolioList {
	list-style-type: none;
	margin: auto;
	text-align: center;
	padding: 0px;
}


.portfolioListItem {
	display: inline;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 600px;
}

.portInfoCard {
	display: inline;
	height: 300px;
	width: 900px;
	position: absolute;
	background-color:rgba(0, 0, 0, 0.5);
	z-index: 1;
	-webkit-box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 43px -1px rgba(0,0,0,0.75);
}

.infoCardDivider {
	margin-left: 2px;
	display: inline;
	height: 300px;
	width: 33%;
	float: left;
	padding: 0px;
	position: relative;
	top: 0px;
	left: 0px;
	background-color:rgba(0, 0, 0, 0.0);
	color: white;
}


.portfolioLink {
	color: white;
}

.dividerHead {
	text-decoration: underline;
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeftBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeftBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }

.portInfoCardList {
	font-family: 'Cormorant Infant', serif;
	list-style-type: none;
	font-size: 30px;
	color: white;
	margin: auto;
}

.portListlabel {
	font-family: 'Cormorant Infant', serif;
	font-size: 50px;
	border-bottom: 3px solid;
	text-shadow: 7px 5px 13px rgba(150, 150, 150, 0.79);
}

.invisible {
	visibility: hidden;
}

#portListDiv1 {
	height: auto;
	width: 100%;
	background-image: url("./images/brushstroke3.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed
}


#portInfoCard1 {
	left: 0px;
}

#portListDiv2 {
	position: relative;
	top: 0px;
	left: 0px;
	-webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
} 

#portInfoCard2 {
	left: 200px;
}

#portInfoCard3 {
	left: 0px;
}

#portListDiv3 {
	position: relative;
	top: -10px;
	left: 65px;
	height: auto;
	width: 100%;
	background-image: url("./images/brushstroke2.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed
}

#portInfoCard4 {
	left: 150px;
}

#portListDiv4 {
	-webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
}

#webThumb1 {
	position: relative;
	left: 300px;
	top: 10px;
}

#webThumb2 {
	position: relative;
	top: -40px;
}

#webThumb3 {
	position: relative;
	top: -55px;
	left: 300px;
}

#webThumb4 {}

.footer {
	box-sizing: border-box;
	position: relative;
	top: -10px;
	height: 150px;
	overflow: hidden;
	text-align: center;
	background-image: url("./images/brushstroke4.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed
	
}


.socialImage {
	height: 85%;
	width: auto;
	margin: 5px;
}

#portList1 {
	position: relative;
	left: 25px;
}

#contributions1 {
	position: relative;
	top: 0px;
	left: 0px;
}

#portList2 {
	position: relative;
	left: -350px;
}

#portList3 {
	position: relative;
	left: -50px;
}

#portList4 {
	position: relative;
	left: -300px;	
}





